<p>Adjutancy</p>
<div layout="row">
  <div class="mat-elevation-z8">
    <form class="form-search" [formGroup]="formGroupSearch">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Barra de pesquisa</mat-label>
        <input matInput type="text" placeholder="Pesquisar" formControlName="fields">
        <a (click)="onCLickSearch()" matSuffix aria-label="Search">
          <mat-icon aria-hidden="false" aria-label="Search" color="primary">search</mat-icon>
        </a>
        <a (click)="onCLickClearSearch()" *ngIf=" formGroupSearch.controls['fields'].value?.length != 0 " matSuffix aria-label="Close">
          <mat-icon aria-hidden="false" aria-label="Close" color="warn">close</mat-icon>
        </a>
      </mat-form-field>
    </form>
    <table mat-table [dataSource]="pagination.content" class="mat-elevation-z8 demo-table w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # Id </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <a href="#">
            <mat-icon aria-hidden="false" aria-label="Editar" color="primary">edit</mat-icon>
          </a>
          <a href="#">
            <mat-icon aria-hidden="false" aria-label="Excluir" color="warn">delete</mat-icon>
          </a>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
    </table>
    <mat-paginator
      [length]="pageEvent.length"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons 
      aria-label="Select page of periodic elements"
      (page)="getPagination($event)"
      >
    </mat-paginator>
  </div>
</div>
